  <div class="well fields"> 
    <%= link_to_destroy_fields "remover", f, :class => "close" %>
    <div class="control-group">
      <%= f.label :cpf, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cpf %>
      </div>
    </div>
  </div>
