<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @principio_ativo.nome %>
</p>


<%= link_to 'Editar', edit_principio_ativo_path(@principio_ativo) %> |
<%= link_to 'Voltar', principio_ativos_path %>
