<h1>Usuários</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.nome, user_path(user) %></td>
        <td>
          <%= link_to 'Editar', edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Remover', user_path(user), :method => :delete, :confirm => 'Tem certeza?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
