<h1>Medicamentos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Princípio ativo?</th>
    </tr>
  </thead>
  <tbody>
    <% @medicamentos.each do |medicamento| %>
      <tr>
        <td><%= medicamento.id %></td>
        <td><%= link_to medicamento.nome, medicamento_path(medicamento) %></td>
        <td><%= medicamento.principio_ativo? ? "Sim" : "Não" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
