<h1>/Medicamento</h1>

<p>
  <b>Nome</b><br>
  <%= @medicamento.nome %>
</p>

<div class="form-actions">
  <%= link_to 'Back', medicamentos_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_medicamento_path(@medicamento), :class => 'btn' %>
  <%= link_to 'Delete', medicamento_path(@medicamento), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
