<h1>Medicamento</h1>

<p>
  <b>Nome</b><br>
  <%= @medicamento.nome %>
</p>

<div class="form-actions">
  <%= link_to 'Voltar', medicamentos_path, :class => 'btn'  %>
  <%= link_to 'Editar', edit_medicamento_path(@medicamento), :class => 'btn' %>
  <%= link_to 'Remover', medicamento_path(@medicamento), :method => 'delete', :confirm => 'Tem certeza?', :class => 'btn btn-danger' %>
</div>
